---
import HamburgerMenu from "./HamburgerMenu";
import MenuIcon from "./MenuIcon.astro";
import BackgroundImage from "./BackgroundImage.astro";
import ThemeColor from "./ThemeColor.astro";

const home = {
  classNameHeader: "header__menu_link",
  link: "/",
  ariaLabel: "トップページへ戻る",
  ariaTitle: "トップページへ戻る",
  icon: "flat-color-icons:home",
};
const contact = {
  classNameHeader: "header__menu_link",
  link: "/contact",
  icon: "fluent-emoji-flat:envelope",
  ariaLabel: "お問い合わせページへ",
  ariaTitle: "お問い合わせページへ",
};
---

<ul class="header__menu">
  <li class="header__menu_item">
    <MenuIcon
      className={home.classNameHeader}
      href={home.link}
      ariaLabel={home.ariaLabel}
      ariaTitle={home.ariaTitle}
      menuIcon={home.icon}
    />
  </li>
  <li class="header__menu_item">
    <MenuIcon
      className={contact.classNameHeader}
      href={contact.link}
      ariaLabel={contact.ariaLabel}
      ariaTitle={contact.ariaTitle}
      menuIcon={contact.icon}
    />
  </li>
  <li class="header__menu_item">
    <ThemeColor />
  </li>
  <li class="header__menu_item">
    <BackgroundImage />
  </li>
  <li class="header__menu_item header__menu_item--hamburger">
    <HamburgerMenu client:visible />
  </li>
</ul>

<style is:global>
  /* 480px以下でのナビゲーション最適化 */
  @media (width <= 480px) {
    .header__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      width: 100%;
      flex-wrap: nowrap;
    }

    .header__menu_item {
      flex: 0 0 auto;
    }

    .header__menu_item--hamburger {
      order: 5;
    }
  }
</style>
