---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { generateBreadcrumbs } from "../../util/generateBreadcrumbs";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import AboutHeading from "../../components/AboutHeading.astro";
import AboutMe from "../../components/AboutMe.astro";
import Sns from "../../components/Sns.astro";
import { Image } from "astro:assets";
import AboutImage from "/public/favicon.svg";
import SkillsIcon from "../../components/SkillsIcon.astro";
import Card from "../../components/Card.astro";
import aboutText from "../../data/aboutText.json";
import serviceText from "../../data/serviceText.json";
import globalText from "../../data/globalText.json";

interface AboutText {
  aboutHeader: string;
  aboutText: string;
  aboutText2: string;
  aboutText3: string;
  aboutText4: string;
  aboutText5: string;
  aboutLikeHeader: string;
  aboutLikeText: string;
}
import FlowingLinesWrapper from "../../components/FlowingLinesWrapper.astro";
import { twitter, github_sns, mail, contact } from "../../scripts/constSns";
import {
  html,
  css,
  sass,
  javascript,
  typescript,
  jquery,
  wordpress,
  swiper,
  gsap,
  react,
  canva,
  adobexd,
  gulp,
  vite,
  astro,
  vscode,
  netlify,
  github,
  cursor,
  vercel,
} from "../../scripts/constSkills";

// const twitter = "/sorry"; //https://twitter.com"
// const github = "/sorry"; //"https://github.com"
// const notion = "/sorry"; //"https://notion.so"
// const instagram = "/sorry"; //"https://instagram.com"
// const mail = "mailto:webengineer@hibari-konaweb.com";

const crumbs = generateBreadcrumbs(Astro.url.pathname);
const href = "/service";

const typedAboutText = aboutText as AboutText;

interface ContactType {
  className: {
    about: string;
    footer: string;
  };
  href: string;
  icon: string;
  item: {
    about: string;
    footer: string;
  };
  ariaLabel: string;
  ariaTitle: string;
}

const typedContact = contact as ContactType;

const aboutMeTitle = "About Me";
const aboutMeSubTitle = "私について。";
const skillsTitle = "Skills";
const skillsSubTitle = "私のスキルをご紹介します。";
const serviceTitle = "Service";
const serviceSubTitle = "私の提供するサービスについてご紹介します。";

const aboutImage = {
  alt: "About Meのイメージ画像",
  width: 150,
  height: 300,
};

const cardSrc1 = "/riv/web-developer.riv";
const cardSrc2 = "/riv/coding-assets.riv";
const cardSrc3 = "/riv/wordpress.riv";
const cardSrc4 = "/riv/fixing-site.riv";
const stateMachine = "State Machine 1";
---

<Layout
  title={globalText.about.title}
  description={globalText.about.description}
  ogType={globalText.local.type}
  ogTitle={globalText.about.title}
  ogDescription={globalText.about.description}
  twitterTitle={globalText.about.title}
  twitterDescription={globalText.about.description}
>
  <div id="outer-container">
    <Header />
    <main id="page-wrap">
      <div class="breadcrumbs__wrapper">
        <Breadcrumbs {crumbs} />
      </div>
      <section class="about" aria-labelledby={`${aboutMeTitle} ${aboutMeSubTitle}`}>
        <div class="about__wrapper">
          <FlowingLinesWrapper>
            <AboutHeading
              id={`${aboutMeTitle} ${aboutMeSubTitle}`}
              aboutTitle={aboutMeTitle}
              aboutSubTitle={aboutMeSubTitle}
            />
          </FlowingLinesWrapper>
          <div class="about__inner">
            <div class="about__textInner">
              <AboutMe
                aboutHeader={typedAboutText.aboutHeader}
                aboutText={typedAboutText.aboutText}
                aboutText2={typedAboutText.aboutText2}
                aboutText3={typedAboutText.aboutText3}
              />
              <p class="about__text">
                お仕事のご依頼などは、
                <a class="about__text_link" href="/contact">お問い合わせフォーム</a>
                からお願いします。
              </p>
              <div class="about__sns">
                <ul class="about__snsMenu">
                  <Sns
                    className={twitter.className}
                    href={twitter.href}
                    ariaLabel={twitter.ariaLabel}
                    ariaTitle={twitter.ariaTitle}
                    target={twitter.targetBlank}
                    snsIconSvg={twitter.icon}
                  />
                  <Sns
                    className={github_sns.className}
                    href={github_sns.href}
                    ariaLabel={github_sns.ariaLabel}
                    ariaTitle={github_sns.ariaTitle}
                    target={github_sns.targetBlank}
                    snsIconSvg={github_sns.icon}
                  />
                  <Sns
                    className={typedContact.className.about}
                    href={typedContact.href}
                    ariaLabel={typedContact.ariaLabel}
                    ariaTitle={typedContact.ariaTitle}
                    target=""
                    snsIconSvg={typedContact.icon}
                  />
                  <Sns
                    className={mail.className.about}
                    href={mail.href}
                    snsIconSvg={mail.icon}
                    ariaLabel={mail.ariaLabel}
                    ariaTitle={mail.ariaTitle}
                    target={mail.targetBlank}
                  />
                </ul>
              </div>
            </div>
            <div class="about__imageInner">
              <Image
                class="about__image"
                src={AboutImage}
                alt={aboutImage.alt}
                width={aboutImage.width}
                height={aboutImage.height}
                loading="lazy"
                decoding="async"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="skills" aria-labelledby={`${skillsTitle} ${skillsSubTitle}`}>
        <div class="skills__wrapper">
          <FlowingLinesWrapper>
            <AboutHeading
              id={`${skillsTitle} ${skillsSubTitle}`}
              aboutTitle={skillsTitle}
              aboutSubTitle={skillsSubTitle}
            />
          </FlowingLinesWrapper>
          <div class="skills__inner">
            <ul class="skills__menu">
              <SkillsIcon className={html.className} iconSvg={html.icon} iconName={html.item} />
              <SkillsIcon className={css.className} iconSvg={css.icon} iconName={css.item} />
              <SkillsIcon className={sass.className} iconSvg={sass.icon} iconName={sass.item} />
              <SkillsIcon className={javascript.className} iconSvg={javascript.icon} iconName={javascript.item} />
              <SkillsIcon className={typescript.className} iconSvg={typescript.icon} iconName={typescript.item} />
              <SkillsIcon className={jquery.className} iconSvg={jquery.icon} iconName={jquery.item} />
              <SkillsIcon className={wordpress.className} iconSvg={wordpress.icon} iconName={wordpress.item} />
              <SkillsIcon className={swiper.className} iconSvg={swiper.icon} iconName={swiper.item} />
              <SkillsIcon className={gsap.className} iconSvg={gsap.icon} iconName={gsap.item} />
              <SkillsIcon className={react.className} iconSvg={react.icon} iconName={react.item} />
              <SkillsIcon className={canva.className} iconSvg={canva.icon} iconName={canva.item} />
              <SkillsIcon className={adobexd.className} iconSvg={adobexd.icon} iconName={adobexd.item} />
              <SkillsIcon className={gulp.className} iconSvg={gulp.icon} iconName={gulp.item} />
              <SkillsIcon className={vite.className} iconSvg={vite.icon} iconName={vite.item} />
              <SkillsIcon className={astro.className} iconSvg={astro.icon} iconName={astro.item} />
              <SkillsIcon className={vscode.className} iconSvg={vscode.icon} iconName={vscode.item} />
              <SkillsIcon className={cursor.className} iconSvg={cursor.icon} iconName={cursor.item} />
              <SkillsIcon className={netlify.className} iconSvg={netlify.icon} iconName={netlify.item} />
              <SkillsIcon className={vercel.className} iconSvg={vercel.icon} iconName={vercel.item} />
              <SkillsIcon className={github.className} iconSvg={github.icon} iconName={github.item} />
            </ul>
          </div>
        </div>
      </section>
      <section class="service" aria-labelledby={`${serviceTitle} ${serviceSubTitle}`}>
        <div class="service__wrapper">
          <FlowingLinesWrapper>
            <AboutHeading
              id={`${serviceTitle} ${serviceSubTitle}`}
              aboutTitle={serviceTitle}
              aboutSubTitle={serviceSubTitle}
            />
          </FlowingLinesWrapper>
          <div class="service__inner">
            <ul class="service__menu">
              <Card
                href={href}
                cardTitle={serviceText.service.card1.serviceHeader}
                cardBody={serviceText.service.card1.serviceBody}
                cardDetails=""
                serviceMenu={serviceText.service.card1.serviceMenu}
                src={cardSrc1}
                stateMachines={stateMachine}
              />
              <Card
                href={href}
                cardTitle={serviceText.service.card2.serviceHeader}
                cardBody={serviceText.service.card2.serviceBody}
                cardDetails=""
                serviceMenu={serviceText.service.card2.serviceMenu}
                src={cardSrc2}
                stateMachines={stateMachine}
              />
              <Card
                href={href}
                cardTitle={serviceText.service.card3.serviceHeader}
                cardBody={serviceText.service.card3.serviceBody}
                cardDetails=""
                serviceMenu={serviceText.service.card3.serviceMenu}
                src={cardSrc3}
                stateMachines={stateMachine}
              />
              <Card
                href={href}
                cardTitle={serviceText.service.card4.serviceHeader}
                cardBody={serviceText.service.card4.serviceBody}
                cardDetails=""
                serviceMenu={serviceText.service.card4.serviceMenu}
                src={cardSrc4}
                stateMachines={stateMachine}
              />
            </ul>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </div>
</Layout>

<style is:global>
  .about__wrapper {
    width: 100%;
    max-width: 700px;
    margin-block-start: 4rem;
    margin-inline: auto;
  }

  @media (width <= 768px) {
    .about__wrapper {
      width: 90%;
    }
  }
  .about__inner {
    display: grid;
    grid-template-columns: 320px 2fr;
    gap: 2rem;
    background-color: inherit;
    border-radius: 1rem;
    box-shadow: 0 10px 40px rgb(0 0 0 / 0.6);
    margin-block-start: 2rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    transform: perspective(1000px) translateZ(20px);
  }
  @media (width <= 768px) {
    .about__inner {
      grid-template-columns: 1fr;
    }
  }

  html.dark .about__inner {
    box-shadow: 0 10px 40px rgb(255 255 255 / 0.6);
  }
  .about__textInner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #020202;
    background: transparent;
    padding-inline: 1rem;
  }

  html.dark .about__textInner {
    color: #f1f5f9;
  }
  .about__text {
    font-size: 0.9375rem;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: justify;
  }
  .about__text_link {
    color: rebeccapurple;
    text-decoration: underline;
  }
  .about__text_link:is(:hover, :focus-visible) {
    color: blue;
    text-decoration: underline;
  }

  html.dark .about__text_link {
    color: var(--color-red);
  }
  html.dark .about__text_link:is(:hover, :focus-visible) {
    color: var(--color-purple);
  }
  .about__sns {
    margin-block-start: auto;
  }
  .about__snsMenu {
    display: grid;
    grid-template-columns: repeat(4, 48px);
    gap: 0.75rem;
    padding-block-start: 1.5rem;
    padding-block-end: 0.5rem;
    padding-inline: 0.5rem;
  }
  .about__snsMenu .sns-icon__item {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: transparent 1px solid;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0 0 0 / 0.6);
    transition:
      transform 0.1s ease,
      box-shadow 0.3s ease;
  }
  .about__snsMenu .sns-icon__item:is(:hover, :focus-visible) {
    box-shadow: 0 16px 8px rgba(0 0 0 / 0.6);
  }
  .about__snsMenu .sns-icon__item:active {
    transform: scale(0.8);
    box-shadow: 0 8px 8px rgba(0 0 0 / 0.6);
  }
  .about__snsMenu .sns-icon__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-decoration: none;
    aspect-ratio: 1 / 1;
    padding-block-start: 0.5rem;
    padding-inline: 0.5rem;
    transition: all 0.3s ease;
  }
  .about__snsMenu .sns-icon__link:is(:hover, :focus-visible) {
    color: rebeccapurple;
    stroke: rebeccapurple;
    fill: rebeccapurple;
  }

  /* ダークモード対応 */
  html.dark .about__snsMenu .sns-icon__item {
    box-shadow: 0 4px 8px rgba(255 255 255 / 0.6);
  }
  html.dark .about__snsMenu .sns-icon__item:is(:hover, :focus-visible) {
    box-shadow: 0 8px 4px rgba(255 255 255 / 0.6);
  }
  html.dark .about__snsMenu .sns-icon__item:active {
    transform: scale(0.8);
    box-shadow: 0 8px 8px rgba(255 255 255 / 0.6);
  }
  html.dark .about__snsMenu .sns-icon__link svg {
    stroke: #f1f5f9;
  }
  .about__snsMenu .sns-icon__link svg {
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  .about__imageInner {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-block-start: 1rem;
  }
  .about__imageInner::before {
    content: "";
    position: absolute;
    top: 14%;
    left: 24%;
    width: 240px;
    height: 240px;
    background-image: url("/public/black-outline_favicon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
    transform: scale(0.3) rotate(-180deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  /* アニメーション用クラス */
  .about__imageInner.animate::before {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  .about__image {
    width: 240px;
    height: 240px;
    object-fit: cover;
    z-index: 1;
  }
  .skills__wrapper {
    width: 100%;
    max-width: 700px;
    margin-block-start: 4rem;
    margin-inline: auto;
  }
  @media (width <= 768px) {
    .skills__wrapper {
      width: 90%;
    }
  }
  .skills__inner {
    background-color: inherit;
    border-radius: 1rem;
    box-shadow: 0 10px 40px rgb(0 0 0 / 0.6);
    transform: perspective(1000px) translateZ(20px);
    margin-block-start: 2rem;
    padding-block: 2rem;
    padding-inline: 1rem;
  }

  html.dark .skills__inner {
    box-shadow: 0 10px 40px rgb(255 255 255 / 0.6);
  }
  .skills__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));
    gap: 2rem;
    list-style: none;
    perspective: 1000px;
    margin-block-start: 2rem;
  }

  /* スマホサイズでの3列表示を確実にする */
  @media (width <= 768px) {
    .skills__menu {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      padding-block: 2rem;
      padding-inline: 1.5rem;
    }
  }

  /* より小さい画面での調整 */
  @media (width <= 480px) {
    .skills__menu {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      padding-block: 1.5rem;
      padding-inline: 1rem;
    }
  }

  /* iPhone Safari専用の設定 - より具体的なセレクタで詳細度を上げる */
  @supports (-webkit-touch-callout: none) {
    @media (width <= 768px) {
      .skills .skills__wrapper .skills__menu {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding-block: 2rem;
        padding-inline: 1.5rem;
      }
    }

    @media (width <= 480px) {
      .skills .skills__wrapper .skills__menu {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-block: 1.5rem;
        padding-inline: 1rem;
      }
    }
  }
  .skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
  }
  .skills-icon__image[data-icon] {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-shadow: 0 8px 16px rgba(0 0 0 / 0.6);
    transition: all 0.4s ease-out;
  }
  /* ホバー可能なデバイス（主にPC）でのみホバー効果を適用 */
  @media (any-hover: hover) {
    .skills-icon .skills-icon__image:is(:hover, :focus-visible) {
      transform: translateZ(20px) scale(1.6) rotate(720deg);
    }
  }

  /* タッチデバイス用の一時的なフィードバック */
  @media (any-hover: none) {
    .skills-icon .skills-icon__image.touch-animate {
      transform: translateZ(20px) scale(1.6) rotate(720deg);
      transition: transform 0.3s ease-out;
    }

    /* タッチ時にスキル名を表示 */
    .skills-icon.touch-active .skills-icon__name {
      opacity: 1;
      visibility: visible;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
    }
  }
  .skills-icon__name {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    margin-block-start: 0.25rem;
  }
  /* ホバー可能なデバイスでのみ名前表示 */
  @media (any-hover: hover) {
    .skills-icon:is(:hover, :focus-visible) .skills-icon__name {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (prefers-color-scheme: dark) {
    .skills-icon.swiper svg,
    .skills-icon.gsap svg {
      color: initial;
      fill: initial;
    }
    .skills-icon__name {
      color: inherit;
    }
  }
  .service__wrapper {
    width: 100%;
    max-width: 700px;
    margin-block-start: 4rem;
    margin-inline: auto;
  }
  @media (width <= 768px) {
    .service__wrapper {
      width: 90%;
    }
  }
  .service__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));
    gap: 3rem;
    margin-block-start: 2rem;
    padding: 0;
    align-items: stretch;
  }

  @media (width <= 768px) {
    .service__menu {
      gap: 4rem;
    }
  }

  @media (width <= 480px) {
    .service__menu {
      gap: 5rem;
      margin-block-end: 5rem;
    }
  }

  .service__menu .card__item {
    height: 100%;
    display: flex;
  }
</style>

<script>
  import { setupFlowingLinesAnimation } from "../../scripts/flowingLines";
  setupFlowingLinesAnimation();

  // タッチデバイスでのスキルアイコンのアニメーション制御
  function setupTouchAnimations() {
    // タッチデバイスのみで実行
    if (window.matchMedia("(any-hover: none)").matches) {
      const skillIcons = document.querySelectorAll(".skills-icon");

      skillIcons.forEach((icon) => {
        const image = icon.querySelector(".skills-icon__image");

        if (image) {
          // タッチ開始
          icon.addEventListener(
            "touchstart",
            (e) => {
              e.preventDefault();
              image.classList.add("touch-animate");
              icon.classList.add("touch-active");
            },
            { passive: false }
          );

          // タッチ終了
          icon.addEventListener(
            "touchend",
            (e) => {
              e.preventDefault();

              // アニメーションを実行
              setTimeout(() => {
                image.classList.remove("touch-animate");
                icon.classList.remove("touch-active");
              }, 300); // アニメーション時間に合わせて
            },
            { passive: false }
          );

          // タッチキャンセル（スクロールなどで中断された場合）
          icon.addEventListener(
            "touchcancel",
            (e) => {
              e.preventDefault();
              image.classList.remove("touch-animate");
              icon.classList.remove("touch-active");
            },
            { passive: false }
          );
        }
      });
    }
  }

  // スクロール検知とアニメーション制御
  function setupScrollAnimation() {
    const aboutImageInner = document.querySelector(".about__imageInner");

    if (!aboutImageInner) return;

    // アニメーション中かどうかを管理するフラグ
    let isAnimating = false;

    // Intersection Observer の設定
    const observerOptions = {
      threshold: 0.3, // 要素の30%が見えたら発火
      rootMargin: "0px 0px -50px 0px", // 少し早めに発火させる
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && !isAnimating) {
          // アニメーション開始
          isAnimating = true;
          aboutImageInner.classList.add("animate");

          // 2秒後にアニメーションをリセット（消える）
          setTimeout(() => {
            aboutImageInner.classList.remove("animate");
            isAnimating = false;
          }, 2000);
        }
      });
    }, observerOptions);

    // 要素の監視を開始
    observer.observe(aboutImageInner);
  }

  // DOM読み込み完了後に実行
  document.addEventListener("DOMContentLoaded", () => {
    setupTouchAnimations();
    setupScrollAnimation();
  });
</script>
