---
import MenuItem from "./MenuItem.astro";

const footerSupportLinks = [
  {
    className: "footer__menu_link",
    href: "/privacy",
    ariaLabel: "プライバシーポリシーページへ",
    ariaTitle: "プライバシーポリシーページへ",
    menuItem: "Privacy Policy",
  },
  {
    className: "footer__menu_link",
    href: "/service",
    ariaLabel: "サービスページへ",
    ariaTitle: "サービスページへ",
    menuItem: "Service",
  },
  {
    className: "footer__menu_link",
    href: "/contact",
    ariaLabel: "お問い合わせページへ",
    ariaTitle: "お問い合わせページへ",
    menuItem: "Contact",
  },
];
---

<ul class="footer__menu">
  {
    footerSupportLinks.map((link) => (
      <li class="footer__menu_item">
        <MenuItem
          className={link.className}
          href={link.href}
          ariaLabel={link.ariaLabel}
          ariaTitle={link.ariaTitle}
          menuItem={link.menuItem}
        />
      </li>
    ))
  }
</ul>
