---
import SafeIcon from "./SafeIcon.astro";

interface SnsProps {
  className: string;
  href: string;
  snsIconSvg?: string;
  // snsIconName: string;
  ariaLabel: string;
  ariaTitle: string;
  targetBlank?: string;
}

const {
  className,
  href,
  snsIconSvg,
  // snsIconName,
  ariaLabel,
  ariaTitle,
  targetBlank,
} = Astro.props as SnsProps;

const snsIconWidth: number = 28;
const snsIconHeight: number = 28;
---

<li class="sns-icon__item">
  <a class={className} href={href} target={targetBlank} aria-label={ariaLabel} title={ariaTitle}>
    <SafeIcon name={snsIconSvg} width={snsIconWidth} height={snsIconHeight} />
    <!-- <span class="sns-icon__name">
      {snsIconName}
    </span> -->
  </a>
</li>
