---
import SafeIcon from "./SafeIcon.astro";

interface MenuIconProps {
  className?: string;
  href?: string;
  ariaLabel?: string;
  ariaTitle?: string;
  ariaHidden?: boolean;
  menuIcon?: string;
  menuItem?: string;
  headerIconWidth: number;
  headerIconHeight: number;
}

const { className, href, ariaLabel, ariaTitle, ariaHidden, menuIcon, menuItem } = Astro.props as MenuIconProps;

const headerIconWidth = 24;
const headerIconHeight = 24;
---

<a class={className} href={href} aria-label={ariaLabel} title={ariaTitle}>
  <SafeIcon name={menuIcon} width={headerIconWidth} height={headerIconHeight} aria-hidden={ariaHidden} />
  {menuItem}
</a>
