---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "../../components/ContactForm";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import { generateBreadcrumbs } from "../../util/generateBreadcrumbs";
import globalText from "../../data/globalText.json";
import contactText from "../../data/contactText.json";

interface Props {
  pageTitle: string;
}

const pageTitle = "Contact";

const jsonLd = JSON.stringify({
  "@context": "https://schema.org",
  "@type": "ContactPage",
  name: pageTitle,
  description: `${globalText.contact.description}`,
  url: `${globalText.url}/contact`,
});

const crumbs = generateBreadcrumbs(Astro.url.pathname);

export const prerender = false;
---

<Layout
  title={globalText.contact.title}
  description={globalText.contact.description}
  ogType={globalText.local.type}
  ogTitle={globalText.contact.title}
  ogDescription={globalText.contact.description}
  twitterTitle={globalText.contact.title}
  twitterDescription={globalText.contact.description}
  jsonLd={jsonLd}
>
  <div id="outer-container">
    <Header />
    <main id="page-wrap">
      <div class="breadcrumbs__wrapper">
        <Breadcrumbs {crumbs} />
      </div>
      <div class="contact">
        <div class="contact__wrapper">
          <h1 class="contact__title">
            {pageTitle}
          </h1>
          {contactText.contact.body.map(({ text }) => <p class="contact__body" set:html={text} />)}
          <p class="contact__body">
            <span class="contact__body--required">【必須】</span>のついた項目は必ずご記入ください。
          </p>
          <div class="contactForm">
            <ContactForm client:load />
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</Layout>

<style is:global>
  .contact {
    width: 100%;
    min-height: 100vh;
    color: #020202;
    background-image: url("../../assets/background7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    padding-block: 4rem;
  }
  .contact__wrapper {
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
  }
  @media (max-width: 480px) {
    .contact__wrapper {
      /* max-width: 320px; */
    }
  }
  .contact__title {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }
  .contact__body {
    font-size: 0.9375rem;
    line-height: 1.8;
    letter-spacing: 0.06em;
    /* テキストの各行の頭を揃える */
    text-align: left;
    margin-inline: auto;
    width: 100%;
    max-width: 400px;
    display: block;
  }
  @media (max-width: 480px) {
    .contact__body {
      width: 94%;
    }
  }
  .contact__body--required {
    color: #ff4f48;
  }
</style>
