---
interface AboutMeProps {
  aboutHeader: string;
  aboutText: string;
  aboutText2: string;
  aboutText3: string;
  aboutLikeHeader: string;
  aboutLikeText: string;
}

const { aboutHeader, aboutText, aboutText2, aboutText3, aboutLikeHeader, aboutLikeText } = Astro.props as AboutMeProps;
---

<hgroup class="about__hgroup">
  <h1 class="about__header">
    {aboutHeader}
  </h1>
  <p class="about__text">
    {aboutText}
  </p>
  <p class="about__text">
    {aboutText2}
  </p>
  <p class="about__text">
    {aboutText3}
  </p>
  <h2 class="about__header">
    {aboutLikeHeader}
  </h2>

  <p class="about__text">
    {aboutLikeText}
  </p>
</hgroup>

<style is:global>
  .about__header {
    margin-block-start: 1rem;
  }
  .about__text {
    font-size: 0.9375rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-block-start: 0.5rem;
  }
</style>
