---
import SafeIcon from "./SafeIcon.astro";

interface SkillsIconProps {
  className: string;
  iconSvg: string;
  iconName: string;
}

const { className, iconSvg, iconName } = Astro.props as SkillsIconProps;

const skillIconWidth: number = 32;
const skillIconHeight: number = 32;
---

<li class={`skills-icon ${className}`}>
  <SafeIcon name={iconSvg} class="skills-icon__image" width={skillIconWidth} height={skillIconHeight} />
  <span class="skills-icon__name">
    {iconName}
  </span>
</li>
